body { background: #F2F1E6 url("../images/background-header.jpg") no-repeat fixed center center; background-size: cover; color: #FFFFFF; }

h1,
h2,
h3,
h4 { text-shadow: 0px 1px 1px #000000; }

a,
a:hover { color: #FFFFFF; }

body > header,
body > footer { margin-bottom: 100px; margin-top: 100px; }

header h1,
header h1 small,
footer p { color: #FFFFFF; text-align: center; }

section.month header { text-align: center; }
section.month header h2 { background-color: rgba(0, 0, 0, 0.6); display: inline-block; margin: 0px 0px 0px 0px; padding: 10px 10px 10px 10px; }

section.day .span6 { position: relative; }
section.day .timeline { position: absolute; top: 0px; height: 100%; background-color: rgba(0, 0, 0, 0.6); width: 4px; }
section.day:nth-child(even) header h3 { text-align: right; }
section.day:nth-child(odd) .timeline { left: -12px; }
section.day:nth-child(even) .timeline { right: -12px; }
section.day article { background-color: rgba(0, 0, 0, 0.6); margin-bottom: 10px; padding: 10px 10px 10px 10px; }